<%- include("partials/header"); -%>
<h1 style="text-align:center">About Us</h1>
<h1>Hello...</h1>
<p><b><%= aboutContent %></b></p>
<p><h2>Tech Stack Used to make this webapp</h2></p>
<br>
<ul>
    <p><b>FrontEnd</b></p>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>Javascript</li>
    <br>
    <p><b>BackEnd</b></p>
    <li>Nodejs</li>
    <li>ExpressJs</li>
    <li>EJS</li>
    <li>MongoDB</li>
    

</ul>

<%- include("partials/footer"); -%>